 <div ng-app="app">
    <div ng-controller="angularCtrl" ng-init="setup()">

 <div class="search-row-wrapper"
         style="background-image: url('/assets/camera5.jpg'); background-size: cover; background-position: center center;">
        <div class="container text-center">
            <div class="col-sm-3">
            <input ng-model="nameFilter" placeholder="Assistant Name">
            <div ng-repeat="assistant in assistants | filter: {name: nameFilter}">
                </div>
            </div>
            <form action="/assistants" method="get">
            <div class="col-sm-3">
                <select name="city" type="integer" class="form-control">
                                          <option disabled selected="selected"> Select a city...</option>
                                          <% @cities.each do |city| %>
                                              <option value="<%= city.name %>"><%= city.name %></option>
                                          <% end %>
                                      </select>
            </div>

            <div class="col-sm-3">
                <select name="occupation" type="integer" class="form-control">
                                        <option disabled selected="selected"> Select a type...</option>
                                        <% @occupations.each do |occupation| %>
                                            <option value="<%= occupation.name %>"><%= occupation.name %></option>
                                        <% end %>
                                    </select>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-block btn-primary  "> Find Assistants <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    </form>
    <!-- /.search-row -->
    <div class="main-container">
        <div class="container">
            <div class="row">
                <!-- this (.mobile-filter-sidebar) part will be position fixed in mobile version -->
                <div class="col-sm-3 page-sidebar mobile-filter-sidebar">
                    <aside>
                        <div class="inner-box">
                            <div class="list-filter">
                                <h5 class="list-title"><strong><a href="#">Assistant Type</a></strong></h5>

                                <div class="filter-content filter-employment-type">
                                    <ul class="browse-list list-unstyled">
                                        <li>
                                            <input type="checkbox" id="employment_all" value="all" class="emp"
                                                   checked="checked">
                                            <label for="employment_all">All</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtft" value="jtft"
                                                   class="emp emp-type">
                                            <label for="employment_jtft">First Assistant</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtpt" value="jtpt"
                                                   class="emp emp-type">
                                            <label for="employment_jtpt">Second Assistant</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtct" value="jtct"
                                                   class="emp emp-type">
                                            <label for="employment_jtct">Third Assistant</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Digital Tech</label>
                                        </li>
                                    </ul>
                                </div>
                                <!-- clear all checkbox -->
                             <!-- <div style="clear:both"></div> -->

                            </div>
                            <!--/.locations-list-->

                            <div class="list-filter">
                                <h5 class="list-title"><strong><a href="#">Skills</a></strong></h5>

                                <div class="filter-content filter-employment-type">
                                    <ul class="browse-list list-unstyled">
                                        <li>
                                            <input type="checkbox" id="employment_all" value="all" class="emp"
                                                   checked="checked">
                                            <label for="employment_all">All</label>
                                        </li>
                                        <h5>LIGHTING:</h5>
                                        <li>
                                            <input type="checkbox" id="employment_jtft" value="jtft"
                                                   class="emp emp-type">
                                            <label for="employment_jtft">Broncolor</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtpt" value="jtpt"
                                                   class="emp emp-type">
                                            <label for="employment_jtpt">Profoto</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtct" value="jtct"
                                                   class="emp emp-type">
                                            <label for="employment_jtct">Speedotron</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Dynalite</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Elinchrom</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Arri</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Kino Flo</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">K 5600</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Briese</label>
                                        </li>
                                        <h5>CAMERAS:</h5>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Canon</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Nikon</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Sony</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Phase One</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Hasselblad</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Sinar</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Cambo</label>
                                        </li>
                                        <h5>SOFTWARE:</h5>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Photoshop</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Lightroom</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Capture One</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtin" value="jtin"
                                                   class="emp emp-type">
                                            <label for="employment_jtin">Phocus</label>
                                        </li>

                                    </ul>
                                </div>
                                <!-- clear all checkbox -->
                             <!-- <div style="clear:both"></div> -->

                            </div>
                            <!--/.list-filter-->


                            <div class="list-filter">
                                <h5 class="list-title"><strong><a href="#">Location</a></strong></h5>

                                <div class="filter-content filter-employment-type">

                                    <ul class="browse-list list-unstyled">
                                        <li>
                                            <input type="checkbox" id="employment_all" value="all" class="emp"
                                                   checked="checked">
                                            <label for="employment_all">All</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtft" value="jtft"
                                                   class="emp emp-type">
                                            <label for="employment_jtft">New York City</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtpt" value="jtpt"
                                                   class="emp emp-type">
                                            <label for="employment_jtpt">Los Angeles</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="employment_jtct" value="jtct"
                                                   class="emp emp-type">
                                            <label for="employment_jtct">Chicago</label>
                                        </li>
                                    </ul>
                                    
                                </div>

                            
                        </div>

                        <!--/.categories-list-->
                    </aside>
                </div>
                <!--/.page-side-bar-->
                <div class="col-sm-9 page-content col-thin-left">

                    <div class="category-list">
                        <div class="tab-box clearfix ">

                            <!-- Nav tabs -->
                            

                            <!-- Mobile Filter bar -->
                            <div class="mobile-filter-bar col-lg-12  ">
                                <ul class="list-unstyled list-inline no-margin no-padding">
                                    <li class="filter-toggle">
                                        <a class="">
                                            <i class="  icon-th-list"></i>
                                            Filters
                                        </a>
                                    </li>
                                    <li>


                                        

                                    </li>
                                </ul>
                            </div>
                            <div class="menu-overly-mask"></div>
                            <!-- Mobile Filter bar End-->


                            
                            <!--/.tab-filter-->

                        </div>
                        <!--/.tab-box-->

                        <div class="listing-filter hidden-xs">
                            <div class="pull-left col-sm-6 col-xs-12">
                                <div class="breadcrumb-list text-center-xs">
                                    <a class="jobs-s-tag" rel="nofollow" title="Software Architect">Software
                                        Engineer </a>
                                    in <a rel="nofollow" class="jobs-s-tag"> New York</a></div>
                            </div>
                            <div class="pull-right col-sm-6 col-xs-12 text-right text-center-xs listing-view-action">
                                <a class="clear-all-button text-muted">Clear all</a>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <!--/.listing-filter-->
                        <div class="adds-wrapper jobs-list">
                            <div class="item-list job-item">

                            <!-- javascpript error message -->

                            <ul>
                                <li ng-repeat="error in errors">{{ error }}</li>
                            </ul>

                            
                                <!-- {{ assistant.name }}
                                {{ assistant.occupation.name }}
                                {{ assistant.city.name }}
                                {{ assistant.years_exp }}
                                {{ assistant.day_rate }}
                                {{ assistant.bio }} -->

                            </div>

                            
                                </div>
                                <div class="row" ng-repeat="assistant in assistants | filter: {name: nameFilter} | orderBy:orderAttribute:orderDescending">>
                                <div class="col-sm-1  col-xs-2 no-padding photobox">
                                    <div class="add-image"><a href=""><img class="thumbnail no-margin"
                                                                           alt="user" src="{{ assistant.avatar }}"></a></div>
                                </div>
                                <div class="col-sm-10  col-xs-10  add-desc-box">
                                    <div class="add-details jobs-item">
                                    <h4 class="company-title">{{ assistant.occupation.name }}</h4>
                                        <h4 class="job-title">{{ assistant.name }}</h4>
                                        
                                        <span class="info-row">  <span class="item-location"><i
                                                class="fa fa-map-marker"></i> {{ assistant.city.name }} </span> <span class="date"><i
                                                class=" icon-clock"> </i>Years Exp: {{ assistant.years_exp }}</span><span class=" salary"> <i
                                                class=" icon-money"> </i>{{ assistant.day_rate }}</span></span>

                                        <div class="jobs-desc">
                                            {{ assistant.bio }}
                                        </div>


                                        <div class="job-actions">
                                            <ul class="list-unstyled list-inline">
                                                <li><%= link_to "Send Text Message", "/assistants", method: :get %>
                                                    <a href="#" class="save-job">
                                                        <span class="fa fa-star-o"></span>
                                                        Text Assistant
                                                    </a>
                                                </li>
                                                <li class="saved-job hide">
                                                    <a class="saved-job" href="#">
                                                        <span class="fa fa-star"></span>
                                                        Saved Job
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="email-job" href="#">
                                                        <i class="fa fa-envelope"></i>
                                                        Email Assistant
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        </div>

                                    </div>
                                </div>
                                <!--/.add-desc-box-->

                                <!--/.add-desc-box-->
                            </div>
                            <!--/.job-item-->
                            
                            


                           

                        
                    </div>
                    <div class="pagination-bar text-center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"> ...</a></li>
                            <li><a class="pagination-btn" href="#">Next &raquo;</a></li>
                        </ul>
                    </div>
                    <!--/.pagination-bar -->

                    <div class="post-promo text-center">
                        <h2> Looking for a job? </h2>
                        <a href="/jobs" class="btn btn-lg btn-border btn-post btn-danger">Search Jobs</a></div>
                    <!--/.post-promo-->

                </div>
                <!--/.page-content-->

            </div>
        </div>
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </aside>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <!-- /.main-container -->

   