<div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 page-sidebar">
                    <aside>
                        <div class="inner-box">
                            <div class="user-panel-sidebar">
                                <div class="collapse-box">
                                    

                                    <div class="panel-collapse collapse in">
                                        <ul class="acc-list">
                                            <li><a class="active" href="/assistants/#{@assistant.id}"><i class="icon-home"></i>
                                                View Profile </a></li>
                                            <li><a class="active" href="/assistants/#{@assistant.id}/edit"><i class="icon-home"></i>
                                                Edit Profile </a></li>
                                            <li><a class="active" href="/assistants/#{@assistant.id}"><i class="icon-home"></i>
                                                View Jobs </a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                

                                <div class="collapse-box">
                                    <h5 class="collapse-title"> Terminate Account <a href="#TerminateAccount"
                                                                                     data-toggle="collapse"
                                                                                     class="pull-right"></a></h5>

                                    <div class="panel-collapse collapse in" id="TerminateAccount">
                                        <ul class="acc-list">
                                            <li><a href="account-close.html"><i class="icon-cancel-circled "></i> Close
                                                account </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.collapse-box  -->
                            </div>
                        </div>
                        <!-- /.inner-box  -->

                    </aside>
                </div>
                <!--/.page-sidebar-->

                <div class="col-sm-9 page-content">
                    <div class="inner-box">
                        <div class="row">
                            <div class="col-md-5 col-xs-4 col-xxs-12">
                                <h3 class="no-padding text-center-480 useradmin"><a href=""><img class="userImg"
                                alt="user" <%= image_tag("user.jpg") %>
                                
                                <%= @assistant.name ? @assistant.name : nil %>
                                </a></h3>
                            </div>
                            <div class="col-md-7 col-xs-8 col-xxs-12">
                                <div class="header-data text-center-xs">

                                    <!-- Traffic data -->
                                    <div class="hdata">
                                        <div class="mcol-left">
                                            <!-- Icon with red background -->
                                            <i class="fa fa-eye ln-shadow"></i></div>
                                        <div class="mcol-right">
                                            <!-- Number of visitors -->
                                            <p><a href="#">View Jobs</a></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!-- revenue data -->
                                    

                                    <!-- revenue data -->
                                    <div class="hdata">
                                        <div class="mcol-left">
                                            <!-- Icon with blue background -->
                                            </div>
                                        <div class="mcol-right">
                                            <!-- Number of visitors -->
                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="welcome-msg">
                            <h3 class="page-sub-header2 clearfix no-padding">Hello <%= @assistant.name %> </h3>
                        </div>

                        <!--/.row-box End-->
                        <div class="row">
                          
                                  <label class="col-sm-3 control-label">Name</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.name %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Company</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.company %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Email</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.email %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Phone Number</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.phone_number %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Address</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.address %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Day Rate</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.day_rate %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Worked With</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.worked_with %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">URL</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.url %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">User Photo</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.user_photo %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Bio</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.bio %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Facebook</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.facebook %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Twitter</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.twitter %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Instagram</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.instagram %></p>
                                  </div>
                                  
                                  <label class="col-sm-3 control-label">Blog</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.blog %></p>
                                  </div>

                                  <label class="col-sm-3 control-label">Years of Experience</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.years_exp %></p>
                                  </div>

                                  <label class="col-sm-3 control-label">Occupation</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.occupation %></p>
                                  </div>

                                  <label class="col-sm-3 control-label">Car</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.car %></p>
                                  </div>

                                  <label class="col-sm-3 control-label">City</label>

                                  <div class="col-sm-9">
                                      <p><%= @assistant.city %></p>
                                  </div>

