<h1>Photo Assistants</h1>

<div>
  <% @assistants.each do |assistant| %>
      <h2>Name: <%= assistant.name %></h2>
      <h3>Company: <%= assistant.company %></h3>
      <p>Email: <%= assistant.email %></p>
      <p>Phone number: <%= assistant.phone_number %></p>
      <p>Address: <%= assistant.address %></p>
      <p>Day rate: $<%= assistant.day_rate %></p>
      <p>Worked with: <%= assistant.worked_with %></p>
      <p>URL: <%= assistant.url %></p>
      <p>Bio: <%= assistant.bio %></p>
      <p>Facebook: <%= assistant.facebook %></p>
      <p>Twitter: <%= assistant.twitter %></p>
      <p>Instagram: <%= assistant.instagram %></p>
      <p>Blog: <%= assistant.blog %></p>
      <p>Years Experience: <%= assistant.years_exp %></p>
      <p>Car: <%= assistant.car %></p>
    </div>
<% end %>
