<br>
  <h2>What are you looking for?</h2>
    <h3><%= link_to "Photo Assistants", "/assistants" %></h3>
    <h3>Production Assistant</h3>
    <h3>Digital Tech</h3>
    <h3>Photographer</h3>
    <h3>Producer</h3>
<br>
  <h2>City?</h2>
    <h3>NYC</h3>
    <h3>LA</h3>
    <h3>CHI</h3>


<br>
<h1>Links:</h1>
<h5><%= link_to "FAQ", "/" %></h5>
<h5><%= link_to "About", "/" %></h5>
<h5><%= link_to "Apply", "/" %></h5>
<h5><%= link_to "Contact", "/" %></h5>
<h5><%= link_to "Privacy Policy", "/" %></h5>