<h1>Edit account</h1>

<%= form_tag '/photographers', method: :patch do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div class="form-group">
    <%= label_tag :company %>
    <%= text_field_tag :company %>
  </div>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="form-group">
    <%= label_tag :mobile_number %>
    <%= text_field_tag :mobile_number %>
  </div>
  <div class="form-group">
    <%= label_tag :studio_number %>
    <%= text_field_tag :studio_number %>
  </div>
  <div class="form-group">
    <%= label_tag :address %>
    <%= text_field_tag :address %>
  </div>
  <div class="form-group">
    <%= label_tag :clients %>
    <%= text_field_tag :clients %>
  </div>
  <div class="form-group">
    <%= label_tag :url %>
    <%= text_field_tag :url %>
  </div>
  <div class="form-group">
    <%= label_tag :user_photo %>
    <%= text_field_tag :user_photo %>
  </div>
  <div class="form-group">
    <%= label_tag :bio %>
    <%= text_field_tag :bio %>
  </div>
  <div class="form-group">
    <%= label_tag :facebook %>
    <%= text_field_tag :facebook %>
  </div>
  <div class="form-group">
    <%= label_tag :twitter %>
    <%= text_field_tag :twitter %>
  </div>
  <div class="form-group">
    <%= label_tag :instagram %>
    <%= text_field_tag :instagram %>
  </div>
  <div class="form-group">
    <%= label_tag :blog %>
    <%= text_field_tag :blog %>
  </div>
  <div class="form-group">
    <%= label_tag :years_exp %>
    <%= text_field_tag :years_exp %>
  </div>
  <div class="form-group">
    <%= label_tag :city_id %>
    <%= text_field_tag :city_id %>
  </div>
  <div>
  <%= submit_tag "Update" %>
  </div>
<% end %>