<!DOCTYPE html>
<html>
<head>
  <title>Strobe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag("strobe_logo_small") %>
      </a>
      <ul class="nav navbar-nav navbar-right">

              <li><a href="/assistants/sign_in">Log in</a></li>
              <li><a href="/assistants/sign_up">Sign up</a></li>
              <li><%= link_to "Log out", "/assistants/sign_out", method: :delete %></li>
            
    </div>
  </div>
</nav>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
</div>

</body>
</html>
